{
  "ConnectionStrings": {
    "DefaultConnection": "server=localhost;port=3306;database=crbvendas;user=crbvendas;password=SUA_SENHA_AQUI"
  },
  "Logging": {
    "LogLevel": {
      "Default": "Information",
      "Microsoft.AspNetCore": "Warning"
    }
  }
}
